.container{
    width: 450px;
    height: 450px;
    margin: 80px auto;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    background-color: #f2f3ae;
}
h1{
    padding: 20px;
}
input{
    width: 60%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f2f3ae;
   

}
.form-field{
    border-bottom-color: #02b68f;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    outline: 0;

}
#signup-btn{
    padding: 10px 40px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #02b68f;
    background: transparent;
    cursor: pointer;
}
a span{
    color: black;
}
a{
    text-decoration: none;
}
