.container{
    display: flex;
    flex-direction: row; 
    width: 610px;
    height: 450px;
    margin: 90px auto;
    border: 1px solid;
    border-radius: 20px;
}
.div2 input{
    padding: 10px 20px;
    margin-bottom: 15px;
    border: 2px solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-color: #00796b;
    outline: 0;
}
#submit-btn{
    padding:10px 20px;
    width: 100%;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #00796b;
    cursor: pointer;
}
#submit-btn:hover{
    background-color: #009688;
}
.div1{
    padding-left: 60px;
    padding-right: 20px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 20px;
}
.div2{
    padding-right: 60px;
    padding-left: 20px;
    border: none;
    border-radius: 20px;
    
}
.div2, .div1 h1{
    text-align: center;
}
.div1 i{
    margin-left: 10px;
}

